@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --putih: white;
  --hitam: #141522;
  --ungu: hwb(277 0% 20%);
  --ungu-muda: #b339ff;
  --ungu-smooth: #c972ff;
  --ungu-tua: hwb(277 0% 64%);
}

* {
  font-family: Montserrat;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

html, body {
  background-color: var(--hitam);
  overflow-x: hidden;
  overflow-y: auto;
}

main {
  padding-top: 45px;
}

.box-navigation {
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0 5px 10px black;
  z-index: 2;
}

.box-navigation 
.space-navigation {
  position: relative;
  height: auto;
  padding: 10px 10px 35px;
  background-color: var(--hitam);
  border-bottom: 1px solid var(--ungu);
  mask-image: linear-gradient(
  to right, 
  transparent 0%, black 50%, black 100%); 
}

.box-navigation
.logo-navigation {
  position: absolute;
  transform: translateY(-109%);
  left: 10px;
  width: 40px;
  height: auto;
  user-select: none;
}

.box-navigation 
.menu-navigation {
  position: absolute;
  transform: translateY(-165%);
  right: 10px;
  user-select: none;
}

.box-navigation a {
  margin-right: 8px;
  padding-bottom: 12px;
  color: var(--putih);
  transition: 0.3s ease;
  user-select: none;
}

.box-navigation  a:hover {
  border-bottom: 1px solid var(--putih);
}

.box-navigation a:active {
  color: var(--ungu);
  filter: blur(2px);;
}

img {
  color: var(--putih);
  display: block;
  max-width: 100%;
  height: auto;
  user-select: none;
}

.box-header {
  z-index: 1;
}

.box-header img {
  position: relative;
  left: -135px;
  width: 100%;
  height: auto;
  mask-image: linear-gradient(
  to left, 
  transparent 0%, black 50%, black 100%);
  -webkit-mask-image: linear-gradient(
  to left, 
  transparent 0%, black 50%, black 100%);
  user-select: none;
}

.box-text-header {
  position: absolute;
  top: 70px;
  right: 10px;
  color: var(--putih);
  text-align: right;
  user-select: none;
}

.box-text-header .hello {
  color: var(--ungu-smooth);
  font-weight: bold;
  font-size: 12px;
}

.box-text-header .name {
  margin: 5px 0;
  font-size: 19px;
}

.box-text-header .tagline {
  font-size: 9px;
}

.tagline span + span::before {
  content: "•";
  margin: 0 4px 0 2px;
}

.box-text-header .info {
  margin: 10px 0 0 110px;
  font-size: 15px;
}

.box-text-header .slogan {
  font-size: 13px;
  margin-left: 200px;
  margin-bottom: 25px;
  text-shadow: 0 0 5px black;
}

.box-text-header .button {
  font-size: 12.5px;
  color: white;
  background-color: transparent;
  margin-right: 10px;
  padding: 10px 30px 10px 30px;
  border-radius: 50px;
  border: none;
  backdrop-filter: blur(5px); 
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid white;
  box-shadow: 0 0 10px black;
  transition: 0.3s;
}

.box-text-header .button:active, .button:hover {
  transform: scale(1.08);
  background-color: hwb(0 100% 0% / 0.17254901960784313);
  box-shadow: 0 0 10px hwb(0 100% 0% / 0.5019607843137255);
}

.button i {
  vertical-align: middle;
}

.box-main {
  margin-left: 20px;
  margin-right: 20px;
  user-select: none;
}

.box-main .about-me {
  position: relative;
  color: var(--putih);
  margin-top: 15px;
}

.box-main .text-line {
  position: absolute;
  background-color: var(--ungu);
  left: -1px;
  padding: 1px 50px 1px 1px;
  margin-top: 1px;
  border-radius: 50px;
}

.box-main .paragraph {
  font-size: 15px;
  margin-top: 15px;
  text-align: justify;
  line-height: 1.5;
}

.box-skills {
  margin: 20px 20px 0;
}

.box-skills .header-skills {
  position: relative;
  user-select: none;
}

.box-skills .description-skills {
  color: hwb(0 100% 0% / 0.3568627450980392);
  margin: 5px 0 10px;
  user-select: none;
}

.list-skills {
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  gap: 5px;
  padding: 0;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.list-skills::-webkit-scrollbar {
  display: none;
}

.skills-card {
  background-color: lab(0% 0 0 / 0.35294117647058826);
  box-shadow: 2.5px 2.5px 10px black;
  border-radius: 15px;
  outline: 1.5px solid hwb(0 51% 49% / 0.24705882352941178);
  padding: 15px;
  margin: -10px -10px -5px -16px;
  transform: scale(0.8);
  scroll-snap-align: center;
  transition: 0.3s;
}

.skills-card:hover {
  justify-items: center;
  text-align: center;
  transform: scale(0.85);
  outline: 1.5px solid var(--ungu-smooth);
  box-shadow: 0 0 8px var(--ungu-smooth);
  left: 50px;
}

.skills-card i {
  color: var(--ungu-smooth);
  font-size: 30px;
  display: block;
}

.skills-card h4 {
  width: 200px;
  margin: 10px 0;
  user-select: none;
}

.skills-card p {
  font-size: 12.5px;
  line-height: 1.4;
  user-select: none;
}

.box-project {
  margin-top: 20px;
}

.box-project .header-project {
  margin-left: 20px;
  user-select: none;
}

.box-project .description-project {
  color: hwb(0 100% 0% / 0.403921568627451);
  margin: 10px 0 20px 20px;
  user-select: none;
}

.list-project {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  gap: 20px;
  background-color: lab(0% 0 0 / 0.16862745098039217);
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.project-card {
  border-radius: 10px;
  padding: 0 0 5px 0;
  margin: 10px 12.5px 10px;
  scroll-snap-align: center;
}

.project-card img {
  margin-top: 7px;
  border-radius: 10px;
  transition: transform 0.3s ease, outline 0.3s ease;
  outline: 1.5px solid lab(0% 0 0 / 0);
  user-select: none;
}

.project-card img:hover,
.project-card img:active {
  transform: scale(1.05);
  outline: 1.5px solid white;
  box-shadow: 0 0 10px black;
}

.project-card h4 {
  width: 200px;
  margin: 10px 0 6px 7px;
  user-select: none;
}

.project-card p {
  font-size: 10px;
  margin: 0 0 0 7px;user-select: none;
}

.project-card span + span:before {
  content: "•";
  margin: 0 12px 0 10px;
  user-select: none;
}

.box-footer {
  text-align: center;
  user-select: none;
}

.box-footer img {
  display: block;
  margin-inline: auto;
  margin-top: 20px;
  width: 150px;
  height: auto;
}

.box-footer a {
  letter-spacing: 50px;
}

.box-footer .footer-slogan {
  margin: 20px 0 50px;
}

.box-footer .footer-copyright{
  background-color: var(--hitam);
  width: 100%;
  position: fixed;
  padding: 5px 5px;
  bottom: 0;
  right: 0;
}

.box-about {
  text-align: center;
}

.box-about #bg-image {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 200px;
  aspect-ratio: 1280 / 720;
}

.box-about i {
  vertical-align: middle;
  font-size: 25px;
}

.box-about #to-home {
  position: fixed;
  text-shadow: 5px 5px 10px black;
  top: 60px;
  left: 10px;
  z-index: 1;
  user-select: none;
}

.box-about #to-home:hover {
  color: var(--ungu-smooth);
  text-shadow: 0 0 10px var(--ungu-smooth);
}

.box-about #photo-profile {
  position: absolute;
  box-shadow: 0 0 10px black;
  border-radius: 50%;
  left: 35%;
  top: 150px;
  width: 30%;
  height: auto;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: background 0.3s ease, transform 0.3s ease;
}

.box-about #photo-profile:hover, #photo-profile:active {
  background: var(--ungu-muda);
  box-shadow: 0 0 20px hwb(284 11% 0% / 0.6549019607843137);
  transform: scale(1.050);
}

.box-about h2 {
  margin: 50px 0 20px;
  user-select: none;
}

.box-about .about-english {
  text-align: left;
  padding: 10px;
  background-color: #55008c2a;
  border-radius: 20px;
  font-size: 15px;
  margin: 0 20px;
  padding: 20px;
  height: 500px;
  box-shadow: inset 0 0 10px lab(0% 0 0 / 0.37254901960784315);
  overflow: hidden;
  overflow-y: auto;
  user-select: none;
}

.about-english b {
  font-weight: 500;
}

.about-english p {
  line-height: 1.5;
  text-align: justify;
}

.box-about .quote {
  margin: 15px 25px;
  font-size: 12px;
  user-select: none;
}

.card-contact {
  display: flex;
  background-color: var(--putih);
  margin: 20px 20px;
  padding: 20px;
  border-radius: 20px;
  gap: 20px;
}

.card-contact > img {
  width: 100px;
  height: auto;
  box-shadow: 5px 5px -0px grey;
  text-align: right;
  flex-shrink: 0;
  outline: 2px solid grey;
}

.card-contact h4 {
  margin-bottom: 5px;
  color: black;
}

.email {
  font-size: 15px;
}

li a {
  color: black;
}

li i {
  vertical-align: middle;
  margin-top: 50px;
  margin-right: 5px;
  font-size: 20px;
  color: red;
}

li {
  list-style: none;
  line-height: 1.4;
  flex: 1;
  min-width: 0;
}

li::before {
  font-family: "Font Awesome 7 Brands";
  margin-right: 5px;
}

li.tlp::before {
  content: "\f40c";
  font-size: 25px;
  color: #25D366;
}

li.git::before {
  content: "\f09b";
  font-size: 20px;
  color: black;
}

li.almt::before {
  display: none;
}

li.gmail::before {
  content: "\f0e0";
  font-family: "Font Awesome 7 Free";
  font-size: 20px;
  color: hwb(195 4% 7%);
}

@media (orientation: landscape) {
  .box-header img {
    width: 500px;
    height: auto;
    left: 0;
  }

  .box-text-header {
    top: 70px;
    right: 20px;
  }

  .box-text-header .hello {
  font-size: 20px;
  }

  .box-text-header .name {
  font-size: 30px;
  }

  .box-text-header .tagline {
    font-size: 15px;
  }

  .box-text-header .info {
    margin: 10px 0 0 0;
    font-size: 20px;
  }

  .box-text-header .slogan {
    font-size: 15px;
  }

  .box-about #photo-profile {
    left: 42.5%;
    width: 15%;
  }

  .box-about .about-english {
    margin: 0 40px;
  }

  .box-about h2 {
  margin: 80px 0 20px;
  }

  .box-about .quote {
  margin: 15px 50px;
  font-size: 15px;
  user-select: none;
  }
}